/* Основні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    transition: background-color 1s;
}

body:hover {
    background-color: #e3e4dc;
}

/* Стили для header */
header {
    background-color: #2345db;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.8em;
    font-weight: bold;
    transition: background-color 0.5s;
}

header:hover {
    background-color: #3e77e8;
}

/* Стили для навігації */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #2189cf;
    padding: 10px;
    gap: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item {
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #176fa8;
}

/* Стили для основного контенту */
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #4b90d1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Стили для footer */
footer {
    background-color: #2d3436;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

footer p {
    margin: 0;
}

footer:hover {
    background-color: #353b3d;
}
